/* styles.css */
/* universal selector - Applies to whole document */
*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    background: #c0c0c0; 
    color: #fff; 
} 
/* center all elements in game */
.game{ 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    width: 100vw; 
    padding-top: 80px;
    justify-content: center; 
    align-items: center; 
    font-family:'Grenze Gotisch', 'serif','Rubik Moonrocks', sans-serif;
} 
  
/* Main title */
.title{ 
    position: absolute; 
    top: 0; 
    gap: 2rem;
    font-size: 5rem; 
    z-index: 2; 
    color: #B80000;
    font-family:'Grenze Gotisch', 'serif','Rubik Moonrocks', sans-serif;
} 
.computerScore,h2, .playerScore,h2{ 
    font-family:'Grenze Gotisch', 'serif','Rubik Moonrocks', sans-serif;
    font-size: 2rem;
}
  
/* Score Board */
.score{ 
    display: flex; 
    width: 30vw; 
    justify-content: space-evenly; 
    top: 70px; 
    z-index: 1; 
    color: #B80000;
    font-family:'Grenze Gotisch', 'serif','Rubik Moonrocks', sans-serif;
} 
  
/* Score  */
.p-count,.c-count{ 
    text-align: center; 
    font-size: 2rem; 
    color: black;
    margin-top: 1rem; 
    font-family:'Grenze Gotisch', 'serif','Rubik Moonrocks', sans-serif;

} 
  
/* displaying three buttons in one line */
.options{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 2 rem;
    display: flex; 
    width: 50vw; 
    justify-content: space-evenly; 
    margin-top: 2rem; 
} 
  
/* Styling the three buttons */
.rock, .paper, .scissor{ 
    padding: 0.8rem; 
    width: 100px; 
    border-radius: 10px; 
    background: #B80000; 
    outline: none; 
    border-color: #B80000;
    font-family:'Grenze Gotisch', 'serif','Rubik Moonrocks', sans-serif;
    font-size: 20px;
    border: black; 
    cursor: pointer; 
} 
  
.move{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem; 
    font-weight: bold; 
    color: black;
} 
.movesleft{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem; 
    font-weight: bold; 
    color: white;
}
  
/* Reload button style */
.reload { 
    display: none; 
    margin-top: 2rem; 
    padding: 2rem;  
    outline: none; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
} 
  
.result{ 
    margin-top: 20px; 
    font-size: 3rem; 
    color: green;
} 
  
/* Responsive Design */
@media screen and (max-width: 612px) 
{   
    .title{ 
        text-align: center; 
    } 
    .score{ 
        position: absolute; 
        top: 200px; 
        width: 100vw; 
    } 
    .options{ 
        width: 100vw; 
    } 

}